<div class="container" *ngIf="character">
  <div class="row">
      <h4>{{character.name}}</h4>
  </div>
  <div class="row">
    <div class="col-md-3">
      
      <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" width="250" height="215">
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Description</h5>
              <p class="card-text">{{character.description}}</p>
            </div>
          </div>
    </div>
    <!-- Event Image -->
    <div class="col-md-3">
      
          <div class="card" style="width: 18rem;" *ngFor="let img of eventImages">
            <img class="card-img-top" src="{{img.path}}.{{img.extension}}"alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{character.events.items[0].name}}</h5>
              <p class="card-text"><b>{{character.name}}</b> has participated in this event</p>
            </div>
          </div>
          <img src="../../../../assets/loading.gif" *ngIf="evtImgIsLoading"/>
      
      <div class="alert alert-danger" role="alert" *ngIf="!marvelService.loading && marvelService.eventsImages.length === 0">
          Theres's no events for this Character
      </div>
    </div>

  </div>
</div>
