<div class="container" *ngIf="character">
  <div class="row">
      <h4>{{character.name}}</h4>
  </div>
  <div class="row">
    <div class="col-md-3">
      
      <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" width="280" height="315">
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Description</h5>
              <p class="card-text">{{character.description}}</p>
            </div>
          </div>
    </div>
    <div class="col-md-3" *ngIf="eventImages">
      <div class="col-md-2" *ngFor="let img of eventImages">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{img.path}}.{{img.extension}}"alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{character.events.items[0].name}}</h5>
              <p class="card-text"><b>{{character.name}}</b> has participated in this event</p>
            </div>
          </div>
      </div>  
      <div class="alert alert-danger" role="alert" *ngIf="!eventImages.length">
          Theres's no events for this Character
      </div>
    </div>

  </div>
</div>
