<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>

<mat-card>
  <app-characters-list></app-characters-list>
  <!-- <mat-form-field>
    <input matInput [(ngModel)]="answer" placeholder="Who know more Angular 5 in The world">
  </mat-form-field>

  <br>

  <button mat-raised-button (click)="showAnswer()">Answer Me</button> -->
  <mat-spinner [style.display]="showSpinner ? 'block': 'none'"></mat-spinner>
</mat-card>

<!-- <mat-card *ngIf="answerDisplay">
  <h1> {{ answerDisplay }}, you're dam right.</h1>
</mat-card> -->

